{% extends 'publish_theme.html' %}


{% block content %}

<div class="container-fluid">

    {% for pub in pubs %}

    <div class="listing">
        <div class="card light m-md-5 p-md-5">
            <div class="row">
                <div class="col-md-5 cover">
                    <a href="{{ pub.url }}">
                        <p><img src="{{ pub.cover_image }}" alt="{{ pub.title }}" width="300"></p>
                    </a>
                </div>
                <div class="col-md-7 light">
                    <a href="{{ pub.url }}">
                        <h1>{{ pub.title }}</h1>
                    </a>
                    <h2>{{ pub.subtitle }}</h2>
                    <p>by Mark Seaman</p>
                    <p>{{ pub.description }}</p>

                </div>
            </div>
        </div>

    </div>

    {% endfor %}

</div>

{% endblock content %}