{% extends 'publish_theme.html' %}


{% block title %}
Index Page
{% endblock title %}


{% block navbar %}
{% endblock navbar %}


{% block content %}

<div class="row">

    <div class="col-lg-3">

        {% if pubs %}
        <div>
            <strong>Pubs</strong>
            <ul>
                {% for pub in pubs %}
                <li>
                    {% autoescape off%}
                    {{ pub }}
                    {% endautoescape %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif%}

        {% if pub %}
        <div>
            <strong>{{ pub }}</strong>
            <ul>
                {% for doc in chapters %}
                <li>
                    {% autoescape off%}
                    {{ doc }}
                    {% endautoescape %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif%}

        {% if chapter %}
        <div>
            <strong>{{ chapter }}</strong>
            <ul>
                {% for doc in docs %}
                <li>
                    {% autoescape off%}
                    {{ doc }}
                    {% endautoescape %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif%}

    </div>

    {% if doc %}
    <div class="col-lg-6">
        <div class="card bg-light text-dark m-2 p-5">

            {% autoescape off%}
            {{ html }}
            {% endautoescape %}

        </div>
    </div>
    {% endif%}

    {% if ai or human %}
    <div class="col-lg-3">

        {% if human %}
        <div class="card bg-dark m-2 p-5">

            <h3>Human Prompt</h3>
            <a class="btn btn-primary">Edit Files</a>

            {% autoescape off%}
            {{ human }}
            {% endautoescape %}

        </div>
        {% endif%}

        {% if ai %}
        <div class="card bg-dark m-2 p-5">

            <h3>AI Prompt</h3>
            <a class="btn btn-primary">Run Script</a>

            {% autoescape off%}
            {{ ai }}
            {% endautoescape %}

        </div>
        {% endif%}

    </div>
    {% endif%}

</div>
{% endblock content %}