{% extends 'publish_theme.html' %}


{% block content %}

{% if html %}

<div class="card light p-5">

    {% if prev %}
    <a href="{{ prev }}" class="btn btn-large btn-success m-lg-3">Previous</a>
    {% endif %}

    {% if more %}
    <a href="{{ more }}" class="btn btn-large btn-success m-lg-3">More</a>
    {% endif %}

    {% if next %}
    <a href="{{ next }}" class="btn btn-large btn-success m-lg-3">Next</a>
    {% endif %}

    {% autoescape off %}
    {{ html }}
    {% endautoescape %}

</div>

{% endif %}

{% endblock content %}